{% extends 'catalog/base.html' %}

{% block content %}
{% for object in object_list %}
<div class="col-12 mb-1">
    <div class="row">
        <div class="col-mb-4">
            <div class="card">
               <a type="submit" href="{% url 'catalog:product' object.pk %}" class="btn btn-light from-control">
                   {{ object.сategory_name }}
               </a>
            </div>
        </div>

    </div>
</div>
{% endfor %}
<div class="col-12">
    <a href="{% url 'catalog:product_create' %}" class="btn btn-primary from-control">Добавить продукт</a>
</div>
{% endblock %}

